@import '../../assets/styles/common';

.author {
    .container .row {
        padding: 48px 0;

        .author-filter {
            width: 100%;

            li {
                cursor: pointer;
                font-family: 'Victormono';

                &:first-child {
                    padding-left: 0;
                }
            }

        }
    }
}