@import "../../assets/styles/common";

.faq {
  .container {
    .row:first-child {
      padding-top: 48px;
      padding-bottom: 32px;

      .custom-col > p {
        font-size: $fontSize-XX_Large;
        font-weight: bold;
        font-family: "Victormono";
      }
    }

    .row:nth-child(2) {
      padding-bottom: 48px;

      p {
        font-family: "Victormono";
        font-size: $fontSize-Large;
        font-weight: bold;
        padding-bottom: 16px;
      }

      .custom-col:last-child {
        margin-top: 16px;
      }

      .custom-col {
        .accordion {
          width: 100% !important;

          .accordion-item {
            width: 100%;

            &:first-of-type {
              border-top-left-radius: 3px !important;
              border-top-right-radius: 3px !important;

              .accordion-button {
                border-top-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
                color: rgb(25, 17, 11, 0.7) !important;

                &:not(.collapsed) {
                  color: $Color-1 !important;
                  background-color: white;
                }
              }
            }

            &:last-of-type {
              border-bottom-left-radius: 3px !important;
              border-bottom-right-radius: 3px !important;
            }

            .accordion-button {
              color: rgb(25, 17, 11, 0.7) !important;
              font-family: "Victormono";
              font-weight: bold;
              font-size: $fontSize-Light;
              outline: none;
              box-shadow: none;

              &:not(.collapsed) {
                color: $Color-1 !important;
                background-color: white;
              }
            }
          }

          .accordion-body {
            border: none;

            form {
              width: 100%;
            }

            .icon-search {
              width: 15%;
              height: 45px;
              border: none;
              outline: none;
              background-color: #f6f5f3;

              .icon {
                stroke: $Color-3;
                width: 18px !important;
                height: 18px !important;
              }

              .icon.active-icon {
                stroke: $Color-1;
              }
            }

            input {
              width: 85%;
              border: none;
              outline: none;
              background-color: #f6f5f3;
              border-radius: 3px;
            }

            .recent-post-blog {
              padding-left: 0;

              li {
                padding: 14px 0;
                cursor: pointer;
                border-bottom: 1px solid $border;

                &:last-child {
                  border: none;
                }
              }
            }

            .categories-blog {
              padding-left: 0;

              li {
                padding: 14px 0;
                cursor: pointer;
                border-bottom: 1px solid $border;

                &:last-child {
                  border: none;
                }
              }
            }

            .tags {
              width: 100%;
              overflow: hidden;

              a {
                padding: 3px 8px;
                font-size: $fontSize-Light;
                border-radius: 3px;
                background-color: $border;
                margin: 5px 5px 3px 0;
              }
            }
          }
        }
      }
    }
  }
}
